.mascot {
  background-image: url('./esa4.svg');
  background: url("./esa4.svg") no-repeat center center;
  height: 800px;
  background-repeat: no-repeat;
  width: 900px;
  margin: auto;
  position: absolute;
  top: 40%;
}

.mascot--small {
  background-image: url('./esa4.svg');
  background: url("esa4.svg") no-repeat center center;
  background-size: contain;
  height: 400px;
  background-repeat: no-repeat;
  width: 550px;
  margin: auto;
  position: absolute;
  top: 70%;
}
