

body {
  background-color: #ededed;
  font-family: 'Montserrat', sans-serif;
}

p {
  font-size: 7rem;
  color: #F092CD;
}

.screen {
  padding: 20% 5% 20% 5%;
  background-color: #fff;
  height: 100%;
  width: 100%;
  border: 40px solid black;
  background-size: cover;
  // background-image: url('party.png');
background-image: url('beach.png'); 
  display: block;
  margin: 0 auto;

}

.party {   background-image: url('party.png'); }
.beach {   background-image: url('beach.png'); }
